*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; font-weight: 400; font-style: normal;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px, 20px;
    background-color:rgb(201, 197, 201);
    text-decoration: none;
}
.logo{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.BarraNavegacion{
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
}
.BarraNavegacion a {
    text-decoration: none;
    color: white;
    margin-right: 60px;
    font-size: 20px;
}
.BarraNavegacion2{
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    margin-right: 33%;
}

.BarraNavegacion2 a {
    text-decoration: none;
    color: white;
    margin-right: 60px;
    font-size: 20px;
}
.piepagina{
    background-color:rgb(201, 197, 201 ) ;
    padding: 30px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
}


.recetas {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;  
    width: 100%; 
    max-width: 1200px; 
}


.imagenes {
    width: 18%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 8px; 
}

.imagenes img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
    margin-bottom: 10px;
}


.comida {
    font-size: 16px;
    font-weight: bold;
    color:rgb(201, 197, 201);
    margin-bottom: 8px;
    text-decoration: none;
}


.dificultad {
    font-size: 14px;
    color: rgb(black);
}


.button_cargar {
    margin-top: 30px; 
    padding: 10px 20px; 
    font-size: 15px; 
    background-color: black;
    color: white;
    border-radius: 8px; 
    
}

.Seclogin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(201, 197, 201);
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
}
.Seclogin a{
    text-decoration: none;
    color: black;
}
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.Botingresar {
    background-color: black; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    
}

main.detallespag {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  article.detalles_article {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background:rgb(201, 197, 201) ; 
    padding: 25px;
    border-radius: 10px;
  }
  
  article.detalles_article h2 {
    font-size: 28px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
  }
  
  article.detalles_article img {
    width: 50%; 
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    margin-left: 25%; 
    display: flex;
  }
  
  article.detalles_article p {
    font-size: 18px;
    color: white;
    
  }
  
  article.detalles_article a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }

.Cat {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    background-color: white;
}

.Cat1 {
    background-color: rgb(201, 197, 201);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 45%; 
    margin-bottom: 20px; 
}

.categoria_link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.categoriaNombre{
    text-align: center;
    margin: 20px 600px ;
    font-size: 30px;
    color: white;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(201, 197, 201) ;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    
    
}

.recetas-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    
}

.receta-item {
    background-color: rgb(201, 197, 201);
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.receta-imagen {
    width: 60%;
    border-radius: 10px;
    margin-top: 20px;
}

.receta-titulo {
    font-size: 20px;
    margin: 15px 0;
    color: white;
}

.receta-item p {
    font-size: 15px;
    margin: 10px 0;
    color: white;
}


.ver-detalle {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px 25px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
} 

form {
    display: flex;
    align-items: center;
    margin-right: 40px;
}


.resultados_recetas {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center; 
    border-radius: 10px;
}

.imagenes2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgb(201, 197, 201); 
    border-radius: 10px;
    width: 280px;
    padding: 15px;
    text-align: center;
    margin: 30px;
}

.imagenes2 img {
    width: 70%;
    border-radius: 10px;
    margin-top: 15px;
}

.imagenes2 a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.imagenes2 .dificultad {
    color: black;
    font-size: 15px;
    padding: 5px;
}



  
  





